#Home {
  display: flex;
  flex-wrap: wrap;
}
#post {
  width: 100%;
  height: fit-content;
  background-color: none;
  border-bottom: 1px solid #4a4b4c;
  padding: 10px 0px 10px 0px;
  display: grid;
  grid-template-columns: 50px 80%;
  grid-row: 100%;
  gap: 10px;
}
#post img {
  width: 50px;
  height: 50px;
}
#post b {
  width: fit-content;
  font-weight: bold;
}
#post p {
  padding-left: 10px;
  grid-column-start: 1;
  grid-column-end: 3;
}
#Home.light #post {
  color: #4a4b4c;
  background-color: none;
}
#NewPostHome {
  position: relative;
  margin: 10px;
  width: 100%;
  border-bottom: 1px solid #4a4b4c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#NewPostHome textarea {
  background-color: transparent;
  border: none;
  outline: none;
  margin-right: auto;
  width: 80%;
  resize: none;
}
#NewPostHome button {
  margin-left: auto;
  width: 20%;
  height: 30px;
  background-color: rgb(0, 140, 255);
  border: none;
  border-radius: 15px;
  color: white;
}
#ExplorePost {
  color: white;
  user-select: auto;
  width: 80%;
  max-height: 70vh;
  overflow: auto;
}
*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 0px;
}

*::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 0px;
}
#FollowRec {
  width: 20%;
  margin-left: auto;
  user-select: none;
  border-left: 1px solid #4a4b4c;
}
